/* UTILS */
:root {
  --text-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-color: #000000;
  --bright-color: #ffffff;
  --text-color: #757575;
  --back-color: #f5f4fa;
  --border-color: #ececec;
  --devider-color: #eeeeee;
  --footer--color: #2f303a;
  --icons-color: #afb1b8;
  --footer-link: rgba(255, 255, 255, 0.1);
  --overlay-porfolio: rgba(33, 150, 243, 0.9);
  --modaldrop: rgba(0, 0, 0, 0.2);
  --about-text: rgba(47, 48, 58, 0.8);
  --modal-input-border: 1px solid rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--text-font);
  color: var(--title-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.modal-xx-btn {
  min-width: 200px;
  padding: 10px 30px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bright-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-xx-btn:hover, .modal-xx-btn:focus {
  background-color: var(--bright-color);
  color: var(--accent-color);
}

.tabs-btn {
  padding: 6px 20px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background: var(--back-color);
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-btn:active, .tabs-btn:focus {
  outline: none;
}

.tabs-btn:hover, .tabs-btn:focus {
  background-color: var(--accent-color);
  color: var(--bright-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list .social-team-item:not(:last-child) {
  margin-right: 10px;
}

.social-list .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-link:hover, .social-list .social-link:focus {
  background-color: var(--accent-color);
  fill: var(--bright-color);
}

.social-list .social-team-link {
  fill: var(--icons-color);
}

.social-list .social-icons {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-icons:hover, .social-list .social-icons:focus {
  background-color: var(--accent-color);
  fill: var(--bright-color);
}

.social-list .social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--bright-color);
  background-color: var(--footer-link);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: relative;
}

.address {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.blue {
  color: var(--accent-color);
}

.black {
  color: var(--dark-color);
}

.white {
  color: var(--bright-color);
}

.navigation-list-item {
  position: relative;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

@media screen and (max-width: 767px) {
  .header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: none;
  }
  .about-item {
    display: none;
  }
  .mobile-menu {
    display: inline-flex;
    margin: 0;
    padding: 10px 0;
    border: none;
    background-color: transparent;
  }
  .mobile-menu-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-contacts-item {
    text-align: center;
  }
  .mobile-contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .mobile-menu .burger-icon {
    display: block;
  }
  .mobile-menu.is-open .burger-icon {
    display: none;
  }
  .mobile-menu .burger-close-icon {
    display: none;
  }
  .mobile-menu.is-open .burger-close-icon {
    display: block;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 60px 15px;
    width: 100%;
    background-color: var(--bright-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 2;
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container-item {
    text-align: center;
  }
  .menu-container-item .mobile-current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 8px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .menu-container-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .menu-container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-container-list:not(:last-child) {
    margin-bottom: 60px;
  }
  .menu-container-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container-link:hover, .menu-container-link:focus {
    color: var(--accent-color);
  }
  .contacts-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .envelope {
    width: 16px;
    height: 11px;
  }
  .smartphone {
    width: 10px;
    height: 15px;
  }
}

.mobile-current {
  color: var(--accent-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .main-nav-container {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    margin-left: 88px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .navigation-list .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .about-item {
    margin-left: auto;
  }
  .contact-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .mail-link,
  .tel-link {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*mail-tel*/
  .mail-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-left: 93px;
  }
  .about-item {
    display: flex;
  }
  .about-item .item:not(:last-child) {
    margin-right: 50px;
  }
  .mail-link,
  .tel-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
  .mail-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}

.hero-title {
  color: var(--bright-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.615;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)), url("../images/hero/mobile-background-hero.jpg");
  background-color: #c4c4c4;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)), url("../images/hero/mobile-background-hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)), url("../images/hero/tablet-background-hero.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)), url("../images/hero/tablet-background-hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
    max-width: 696px;
    max-height: 120px;
  }
  .hero {
    padding: 200px 0px;
    max-width: 100%;
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)), url("../images/hero/desctop-background-hero.jpg");
    background-color: #c4c4c4;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)), url("../images/hero/desctop-background-hero@2x.jpg");
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modaldrop);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  width: 528px;
  height: 581px;
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  outline: none;
}

.modal-close-svg {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*MODAL FORM*/
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
}

.modal-form-input-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: var(--modal-input-border);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  display: block;
  padding: 12px 16px;
  height: 120px;
  margin-bottom: 20px;
  resize: none;
  border: var(--modal-input-border);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-policy::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #212121;
  margin-right: 7px;
  border-radius: 2px;
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-image: url(../images/services/icon-check.svg);
  outline: none;
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  outline: 2px solid var(--accent-color);
}

.modal-form-label-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.714;
}

.policy-link {
  color: var(--accent-color);
}

.modal-form-btn {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--bright-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
}

.modal-form-btn:active {
  outline: none;
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
  .about {
    padding-bottom: 94px;
  }
  .about-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }
  .about-list .about-list-item {
    position: relative;
    display: block;
  }
  .about-list .text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    min-height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: var(--bright-color);
    background-color: var(--about-text);
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .about-list {
    display: flex;
  }
  .about-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-list-item {
  width: 100%;
}

.portfolio-list-item:hover .portfolio-overlay-text,
.portfolio-list-item:focus .portfolio-overlay-text {
  transform: translateY(0%);
}

.portfolio-list-item .portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item .portfolio-overlay-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item a .portfolio-overlay-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item a:hover .portfolio-overlay-text,
.portfolio-list-item a:focus .portfolio-overlay-text {
  transform: translateY(0%);
}

.portfolio-list-item a:hover,
.portfolio-list-item a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item p.portfolio-overlay-text {
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.556;
  color: var(--bright-color);
  background-color: var(--overlay-porfolio);
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-list-item .portfolio-list-item .portfolio-overlay-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-content {
  padding: 20px 10px 20px 7px;
  background-color: var(--bright-color);
  border: 1px solid var(--devider-color);
}

.portfolio-tabs {
  margin-bottom: 50px;
  flex-wrap: wrap;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.portfolio-tabs-list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-tabs .portfolio-tabs-list:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-list .portfolio-list-item:not(:nth-child(2n)) {
    margin-right: 20px;
  }
  .portfolio-list .portfolio-list-item {
    width: 354px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-tabs {
    margin-bottom: 20px;
    justify-content: center;
  }
  .portfolio-list-item {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-tabs {
    margin-bottom: 50px;
  }
  .portfolio-list .portfolio-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .portfolio-list .portfolio-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--back-color);
}

.team h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-title {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-person {
  padding: 30px 40px;
  background-color: var(--bright-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
}

.person-text {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .team-title {
    font-size: 36px;
    line-height: 1.167;
  }
}

.clients-title {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.179;
}

.icon-logo1 {
  width: 44px;
  height: 49px;
}

.icon-logo2 {
  width: 40px;
  height: 52px;
}

.icon-logo3 {
  width: 41px;
  height: 43px;
}

.icon-logo4 {
  width: 80px;
  height: 42px;
}

.icon-logo5 {
  width: 59px;
  height: 47px;
}

.icon-logo6 {
  width: 88px;
  height: 45px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-link {
  width: 210px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 479px) {
  .clients-link {
    width: 100%;
  }
  .clients-list {
    display: block;
  }
  .clients-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-item:nth-last-child(2n) {
    margin-right: 30px;
  }
  .clients-item:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-link {
    width: 226px;
  }
  .clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-item:nth-last-child(n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
    height: 90px;
  }
  .clients-title {
    font-size: 36px;
    line-height: 1.167;
  }
  .clients-item {
    margin-bottom: 0;
  }
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.features h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
}

.features .features-title {
  display: none;
}

.features-list-item {
  margin-bottom: 30px;
}

.feauters-charact {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--back-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.charact-decor {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
  }
  .features-list-item {
    margin-bottom: 0;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
  }
  .features h3 {
    text-align: left;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  text-align: center;
  background-color: var(--footer--color);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer-address a {
  display: block;
}

.contact-information-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bright-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-information-mail,
.contact-information-tel {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--bright-color);
  text-transform: uppercase;
}

.telegram-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 11px;
}

.contact-form-input {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  color: var(--bright-color);
  border: 1px solid var(--footer-link);
  border-radius: 4px;
}

.telegram-btn {
  padding: 10px 30px;
  margin: 10px auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--bright-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telegram-btn:hover, .telegram-btn:focus {
  background-color: var(--bright-color);
  color: var(--accent-color);
}

.social-item-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: block;
  }
  .footer-modal-wrapper {
    margin: 0 auto;
  }
  .contact-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer-address {
    margin-bottom: 0;
    margin-right: 70px;
  }
  .social-item-container {
    margin-bottom: 0;
  }
  .footer-modal-wrapper {
    margin-left: auto;
  }
  .footer-form {
    display: flex;
  }
  .contact-form {
    margin-left: 93px;
  }
  .contact-form-input {
    min-width: 358px;
  }
  .telegram-btn {
    min-width: 200px;
    margin: 0;
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */