.header {
  position: relative;
}

.address {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.blue {
  color: var(--accent-color);
}

.black {
  color: var(--dark-color);
}

.white {
  color: var(--bright-color);
}

.navigation-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.current {
  color: var(--accent-color);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation-list {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: none;
  }

  .about-item {
    display: none;
  }
  .mobile-menu {
    display: inline-flex;
    margin: 0;
    padding: 10px 0;
    border: none;
    background-color: transparent;
  }

  .mobile-menu-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-contacts-item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .burger-icon {
    .mobile-menu & {
      display: block;
    }
    .mobile-menu.is-open & {
      display: none;
    }
  }

  .burger-close-icon {
    .mobile-menu & {
      display: none;
    }
    .mobile-menu.is-open & {
      display: block;
    }
  }

  .menu-container {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    padding: 60px 15px;
    width: 100%;
    background-color: var(--bright-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    z-index: 2;
    &.is-open {
      display: block;
    }
  }
  .menu-container-item {
    text-align: center;

    & .mobile-current::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      margin-top: 8px;

      background-color: var(--accent-color);
      border-radius: 2px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .menu-container-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  .menu-container-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .envelope {
    width: 16px;
    height: 11px;
  }
  .smartphone {
    width: 10px;
    height: 15px;
  }
}

.mobile-current {
  color: var(--accent-color);
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu-container {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .main-nav-container {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    margin-left: 88px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    & .current::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;

      background-color: var(--accent-color);
      border-radius: 2px;

      position: absolute;
      left: 0px;
      bottom: 0px;
    }
  }

  // .contacts {
  //   margin-left: auto;
  // }

  // .contacts-link {
  //   display: flex;
  //   align-items: center;

  //   color: var(--primary-text-color);
  //   text-decoration: none;
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: 1.167;
  //   letter-spacing: 0.02em;

  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   &:hover,
  //   &:focus {
  //     color: var(--accent-color);
  //   }
  // }

  // .envelope {
  //   width: 14px;
  //   height: 10px;
  // }

  // .smartphone {
  //   width: 10px;
  //   height: 14px;
  // }

  .about-item {
    margin-left: auto;
  }

  .contact-icon {
    margin-right: 10px;
    fill: currentColor;
  }

  .mail-link,
  .tel-link {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*mail-tel*/

  .mail-icon {
    width: 16px;
    height: 12px;
  }

  .tel-icon {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-left: 93px;
  }

  .about-item {
    display: flex;
  }

  .about-item .item:not(:last-child) {
    margin-right: 50px;
  }
  .mail-link,
  .tel-link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
  .mail-icon {
    width: 16px;
    height: 12px;
  }

  .tel-icon {
    width: 10px;
    height: 16px;
  }
}
