.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--back-color);

  h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
}

.team-title {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-person {
  padding: 30px 40px;
  background-color: var(--bright-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
}

.person-text {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team-list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .team-title {
    font-size: 36px;
    line-height: 1.167;
  }
}
