:root {
  --text-font: "Roboto", sans-serif;

  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-color: #000000;
  --bright-color: #ffffff;
  --text-color: #757575;
  --back-color: #f5f4fa;
  --border-color: #ececec;
  --devider-color: #eeeeee;
  --footer--color: #2f303a;
  --icons-color: #afb1b8;
  --footer-link: rgba(255, 255, 255, 0.1);
  --overlay-porfolio: rgba(33, 150, 243, 0.9);
  --modaldrop: rgba(0, 0, 0, 0.2);
  --about-text: rgba(47, 48, 58, 0.8);
  --modal-input-border: 1px solid rgba(33, 33, 33, 0.2);
}
